{% extends "layout.html" %}
{% block title %}Muokkaa ketjua{% endblock %}
{% block content %}
{% if session.user_id %}
<form class="w-75" action="/topic/{{thread.topic_id}}/thread/{{thread.id}}/edit" method="POST">
  <h3>Muokkaa ketjua</h3>
  <div class="mt-3">
    <label for="threadeditform1" class="form-label">Otsikko</label>
    <input type="text" class="form-control" id="threadeditform1" name="header" value="{{ thread.header }}">
  </div>
  <div class="my-3">
    <label for="threadeditform2" class="form-label">Aloitusviesti</label>
    <textarea type="text" class="form-control" id="threadeditform2" name="init_msg"
      rows="6">{{ thread.init_msg }}</textarea>
  </div>
  <input class="btn btn-warning btn-sm mb-2" type="submit" value="Muokkaa">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>
<button class="btn btn-primary btn-sm" onclick="go_back()">Peruuta</button>

<script>
  function go_back() {
    window.history.back();
  }
</script>
{% endif %}
{% endblock %}