{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
<h1>Etusivu</h1>
{% if adminrights is true %}
<form action="/" method="POST">
  Lisää aihe:
  <p>
  <input type="text" name="topic">
  <p>
  <input type="submit" value="Lisää">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endif %}
<p>Keskustelualueet:</p>
<hr>
{% for topic in topics %}
<p style="padding-left:8px;padding-right:8px;">
<a href="/topic/{{ topic.id }}"><b>{{ topic.topic }}</b></a><br>
Viestiketjuja: {{threads[topic.topic]}}<br>
Viestejä yhteensä (sis. aloitusviestit): {{messages[topic.topic]}}<br>
{% if latestmessages[topic.topic] %}
<br>
<i>Viimeisin vastaus:</i> {{latestmessages[topic.topic].content}}</br>
<i>Lähettäjä:</i> {{latestmessages[topic.topic].username}}, {{latestmessages[topic.topic].sent_at.strftime("%d.%m.%Y %H:%M:%S")}} <br>
{% else %}
<br>
<i>Ei vielä vastauksia tällä alueella, ole ensimmäinen!</i>
{% endif %}
</p>
<hr>
{% endfor %}
{% endblock %}