{% extends "layout.html" %}
{% block title %}Käyttäjätunnuksen luonti{% endblock %}
{% block content %}
<h1>Luo käyttäjätunnus</h1>
<form action="/signup" method="POST">
  Käyttäjätunnus:
  <p>
  {% if username %}
  <input type="text" name="username" value={{ username }}>
  {% else %}
  <input type="text" name="username">
  {% endif %}
  <p>
  Salasana:
  <p>
  <input type="password" name="password">
  <p>
  Salasana uudelleen:
  <p>
  <input type="password" name="password2">
  <p>
  Admin:
  <p>
  <input type="radio" name="admin" value="true"> kyllä
  <input type="radio" name="admin" value="false" checked> ei
  <p>
    <input type="submit" value="Luo">
  <p>
</form>
{% endblock %}