{% extends "layout.html" %}
{% block title %}Ketjunäkymä{% endblock %}
{% block content %}
<h2>Keskustelu</h2>
<h3>Otsikko: {{ thread.header }}</h3>
<p>{{ thread.init_msg }}</p>
<i>Aloittaja: </i>{{ op.username }} <br>
<p>
{% if session.user_id %}
<hr>
<form action="/topic/{{ topic_id }}/thread/{{ thread.id }}" method="POST">
  <p>
  <textarea name="content" rows="6" cols="50"></textarea>
  <p>
  <input type="submit" value="Vastaa">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endif %}
<b>Vastaukset:</b>
<hr>
{% for message in messages %}
  <p>{{ message.content }}</p>
  <p>
  <p><i>Lähettäjä: </i>{{ message.username }} <br> <i>Lähetetty:</i> {{ message.sent_at.strftime("%d.%m.%Y %H:%M:%S") }}</p></p>
<hr>
{% endfor %}
{% endblock %}