{% extends "layout.html" %}
{% block title %}Ketjunäkymä{% endblock %}
{% block content %}
<h2 class="pb-4"><b>Keskustelu</b></h2>
<h3 class="text-info">{{ thread.header }}</h3>
<div class="mt-4 mb-4">
  <p>{{ thread.init_msg }}</p>
</div>
<div class="mb-2"><i>Aloittaja: </i>{{ op.username }} <br></div>
{% if session.user_id == thread.user_id %}
<table>
  <td>
    <a href="/topic/{{ topic_id }}/thread/{{ thread.id }}/edit"><button
        class="btn btn-primary btn-sm">Muokkaa aloitusviestiä</button></a>
  </td>
  <td>
    <form action="/topic/{{ topic_id }}/thread/{{ thread.id }}/delete" method="POST">
      <input class="btn btn-danger btn-sm" type="submit" value="Poista" />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
  </td>
</table>
{% endif %}
<p>
{% if session.user_id %}
<hr>
<form class="w-75 mt-4" action="/topic/{{ topic_id }}/thread/{{ thread.id }}" method="POST">
    <div class="mb-3">
      <textarea type="text" class="form-control" id="threadviewform" name="content" rows="6" placeholder="Kirjoita kommentti..."></textarea>
    </div>
    <div class="mb-3">
      <input class="btn btn-primary btn-sm" type="submit" value="Vastaa">
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
</form>
{% endif %}
<b>Vastaukset:</b>
<hr>
{% for message in messages %}
<p>{{ message.content }}</p>
<p>
<p>
  <i>Lähettäjä: </i>{{ message.username }} <br> <i>Lähetetty:</i> {{ message.sent_at.strftime("%d.%m.%Y %H:%M:%S") }}
</p>
</p>
<p>
  {% if session.user_id == message.user_id %}
<table>
  <td>
    <a href="/topic/{{ topic_id }}/thread/{{ thread.id }}/message/{{ message.id }}/edit"><button
        class="btn btn-primary btn-sm">Muokkaa</button></a>
  </td>
  <td>
    <form action="/topic/{{ topic_id }}/thread/{{ thread.id }}/message/{{ message.id }}/delete" method="POST">
      <input class="btn btn-danger btn-sm" type="submit" value="Poista" />
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    </form>
  </td>
</table>
{% endif %}
<hr>
{% endfor %}
{% endblock %}