{% extends "layout.html" %}
{% block title %}Aihenäkymä{% endblock %}
{% block content %}
<h2>Viestiketjut</h2>
{% if session.user_id %}
<form action="/topic/{{ topic_id }}" method="POST">
  <h3>Uusi ketju:</h3>
    Otsikko:
  <p>
  <input type="text" name="header">
  <p>
    Aloitusviesti:
  <p>
  <textarea name="init_msg" rows="6" cols="50"></textarea>
  <p>
  <input type="submit" value="Lisää">
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
</form>
{% endif %}
<hr>
{% for thread in threads %}
  <a href="/topic/{{ topic_id }}/thread/{{ thread.id }}"><b style="font-size:18px;">{{ thread.header }}</b> <br></a>
  <p>{{ thread.init_msg }}</p>
  <p>
  <i>Vastauksia:</i> {{ msgcount[loop.index0] }} <br>
  <i>Aloittaja: </i>{{ thread.username }} <br>
  <i>Luotu:</i> {{ thread.created_at.strftime("%d.%m.%Y %H:%M:%S") }}</p>
  <p>
    {% if session.user_id == thread.user_id %}
      <table>
        <td>
          <a href="/topic/{{ topic_id }}/thread/{{ thread.id }}/edit"><button>Muokkaa</button></a>
        </td>
        <td>
          <form action="/topic/{{ topic_id }}/thread/{{ thread.id }}/delete" method="POST">
            <input type="submit" value="Poista" />
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
          </form>
        </td>
      </table>
    {% endif %}
<hr>
{% endfor %}
{% endblock %}